@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC');
body{
    padding: 0%;
    margin: 0px;
    background-color: #eeeeee;
    font-family: 'Kaushan Script', cursive;
}
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.navigation{
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.logo{
    flex: 1;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo h4{
    font-size: 25px;
    color: white;

}
.ultags{
    flex: 3;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ultags ul{
    display: flex;
    flex-direction: row;
    left: 40%;
    position: relative;
}
.ultags ul li {
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

.header-video{
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    z-index: -99;
}
.header-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: -50;
    display: flex;
    align-items: flex-end;
}
.header-overlay h1{
    color: white;
    position: relative;
    padding: 50px;
    max-width: 605px;
}
@media(max-width: 968px){
    .header-overlay{
        align-items: center;
    }
    .header-overlay h1{
        font-size: 20px;
    }

}
.destination-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.destination-header h4{
    font-weight: 700;
}
.destination-header-divider{
    width: 10%;
    height: 2px;
    background-color: black;
}
.destinations{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.destination-card{
    height: 400px;
    width: 30%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    visibility: hidden;
}
.destination-card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
}

.destination-card .destination-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -40;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination-overlay h2{
    color: aliceblue;  
    font-family: 'Kaushan Script', cursive;
}
@media(max-width: 968px){
    .destinations{
        flex-direction: column;
    }
    .destination-card{
        width: 90%;
        left: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.safari-advertisement{
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
    position: relative;
    visibility: hidden;
}
.safari-advertisement img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    z-index: -60;
    top: 0;
    left: 0;
}
.safari-advertisement .safari-advertisement-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.safari-advertisement-overlay h1,p{
    color: white;
    max-width: 605px;

}
.safari-advertisement-overlay h1{
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
}
.safari-advertisement-overlay p{
    font-size: 20px;
    font-weight: bold;
}
.home-container{
    margin: 0 auto;
    width: 90%;
}
.trip-card-container{
    margin-bottom: 100px;
}
.trip-text{
    margin-bottom: 50px;
    visibility: hidden;
}
.trip-card{
    height: 400px;
}
.trip-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -40;
}
.trip-card .trip-card-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -30;
    background-color: rgba(0, 0, 0, 0.3);
}
.trip-card .trip-overlay-details{
    width: 90%;
    top: 60%;
    left: 5%;
    position: relative;
}
.trip-overlay-details h6,h4{
color: white;
font-size: 20px;
}

.why-choose-us{
    width: 100%;
    margin-top: 100px;
    visibility: hidden;
}
.why-choose-us h4,h5,p{
    font-family: 'Carrois Gothic SC', sans-serif;
}
.why-choose-us-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.why-choose-us-body{
    width: 100%;
}
.why-choose-us-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.why-choose-us-card img{
    width: 80px;
    height: 80px;
}
.why-choose-us-card h4{
    color: black;
    font-weight: 900;
    font-size: 20px;
}
.why-choose-us-card p{
    font-size: 15px;
    color: black;
    font-weight: 400;
}
.home-quotes{
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}
.home-quotes p{
    color: black;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}
.footer-container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container .social-icons{
    display: flex;
    flex-direction: row;
}
.social-icons i{
    padding-left: 20px;
}
.footer-container ul{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.footer-container ul li{
    padding-left: 50px;
    font-size: 20px;
}